@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
        

        @using (Html.BeginForm("LoginAdmin", "Admin", FormMethod.Post)) // Creates a form to submit login details to the server
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="username">AdminName</label>
                <input type="text" id="username" name="AdminName" class="form-control" required/>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" class="form-control" required/>
            </div>
            <br />

            <button type="submit" class="btn btn-primary">Login</button>
        }

</div>